@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-link
-----------------------------------------------------*/
.c-link {
    &.-link {
        span {
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            white-space: nowrap;
        }
    }
    &.-arwA {
        span {
            position: relative;
            margin-left: 28px;
            white-space: nowrap;
            display: inline-block;
        }
        span:before {
            content: "";
            display: block;
            width: 16px;
            height: 12px;
            background: url(../img/common/arw.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            left: -28px;
            top: 1.05rem;
            transform: translate(0%, -50%);
        }
    }
    &.-arwB {
        span {
            position: relative;
            white-space: nowrap;
        }
        span:before {
            content: "";
            display: block;
            width: 16px;
            height: 12px;
            background: url(../img/common/arw.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            right: -28px;
            top: 50%;
            transform: translate(0%, -50%);
        }
    }
    &.-arwC {
        span {
            position: relative;
            white-space: nowrap;
        }
        span:before {
            content: "";
            display: block;
            width: 44px;
            height: 30px;
            background: url(../img/common/arw.svg) no-repeat 50% 50%;
            background-size: 16px;
            position: absolute;
            right: -58px;
            top: 50%;
            transform: translate(0%, -50%);
            border: 1px solid inc.$color-blk;
            border-radius: 15px;
        }
    }
    &.-blankA {
        span {
            position: relative;
            margin-left: 28px;
            white-space: nowrap;
        }
        span:before {
            content: "";
            display: block;
            width: 16px;
            height: 12px;
            background: url(../img/common/arw.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translate(0%, -50%) rotate(-45deg);
        }
    }
    &.-blankB {
        span {
            position: relative;
            white-space: nowrap;
        }
        span:before {
            content: "";
            display: block;
            width: 16px;
            height: 12px;
            background: url(../img/common/arw.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translate(0%, -50%) rotate(-45deg);
        }
    }
    &.-border {
        border: 1px solid inc.$color-blk;
        padding: .6rem 1rem;
        display: inline-block;
        line-height: 1.6;
        &.-arwB {
            padding-right: calc(1rem + 28px);
        }
        &.-blankB {
            padding-right: calc(1rem + 28px);
        }
    }
}



