@charset 'UTF-8';
@use "../../inc/" as inc;
/*
c-text
-----------------------------------------------------*/
.c-title {
  &.-LL {
    @include inc.sizingRem(font-size, wide, 50px, spl, 24px);
    //margin: 0 0 2rem;
    & + * {
      margin-top: 2rem;
    }
  }
  &.-L {
    @include inc.sizingRem(font-size, wide, 30px, spl, 20px);
    //margin: 0 0 2rem;
    & + * {
      //margin-top: 2rem;
      margin-top: 1.7vw;
    }
  }
  &.-M {
    @include inc.sizingRem(font-size, wide, 24px, spl, 20px);
    //margin: 0 0 2rem;
    & + * {
      margin-top: 2rem;
    }
  }
  &.-S {
    @include inc.sizingRem(font-size, wide, 20px, spl, 16px);
    //margin: 0 0 2rem;
    & + * {
      margin-top: 2rem;
    }
  }
  &.-SS {
    @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
    //margin: 0 0 2rem;
    & + * {
      margin-top: 2rem;
    }
  }
  &.-eng {
    &.-LL {
      @include inc.sizingRem(font-size, wide, 70px, spl, 24px);
      //margin: 0 0 2rem;
      & + * {
        margin-top: 2rem;
      }
      span {
        font-family: dnp-shuei-gothic-gin-std, sans-serif;
        font-weight: 600;
        font-style: normal;
        @include inc.sizingRem(font-size, wide, 20px, spl, 18px);
        display: block;
      }
    }
    &.-L {
      @include inc.sizingRem(font-size, wide, 40px, spl, 24px);
      //margin: 0 0 2rem;
      & + * {
        margin-top: 2rem;
      }
      span {
        font-family: dnp-shuei-gothic-gin-std, sans-serif;
        font-weight: 600;
        font-style: normal;
        @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
        display: block;
      }
    }
    &.-M {
      @include inc.sizingRem(font-size, wide, 24px, spl, 18px);
      //margin: 0 0 2rem;
      & + * {
        margin-top: 2rem;
      }
    }
    &.-S {
      @include inc.sizingRem(font-size, wide, 18px, spl, 14px);
      //margin: 0 0 2rem;
      & + * {
        margin-top: 2rem;
      }
    }
    &.-SS {
      @include inc.sizingRem(font-size, wide, 14px, spl, 12px);
      //margin: 0 0 2rem;
      & + * {
        margin-top: 2rem;
      }
    }
  }
}
.c-text {
}

.-eng {
  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: normal;
}

.-jpn {
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.t-center {
  text-align: center;
}

.-w32 {
  @include inc.mq(vr) {
    width: 32vw;
  }
}

.-red {
  color: inc.$color-red;
}
.-colorWht {
  color: inc.$color-wht;
}
.-colorBwn {
  color: inc.$color-bwn;
}

.p-title-L {
    //margin: 0 0 80px;
    margin: 0 0 40px;
    @include inc.sizing(margin-bottom, tab, 48px, spl, 40px);
    @include inc.mq(tab) {
      @include inc.sizing(margin-bottom, vr, 80px, tab, 64px);
    }
  .p-title-01 {
    @include inc.sizingRem(font-size, wide, 70px, spl, 35px);
    span {
      font-family: dnp-shuei-gothic-gin-std, sans-serif;
      font-weight: 600;
      font-style: normal;
      @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
      display: block;
    }
  }
  .p-title-02 {
    @include inc.sizingRem(font-size, wide, 24px, spl, 14px);
    span {
      @include inc.sizingRem(font-size, wide, 18px, spl, 12px);
    }
  }
}

.p-title-M {
  margin: 0 0 30px;
  @include inc.mq(tab) {
    margin: 0 0 60px;
  }
  .p-title-01 {
    @include inc.sizingRem(font-size, wide, 40px, spl, 24px);
    span {
      font-family: dnp-shuei-gothic-gin-std, sans-serif;
      font-weight: 600;
      font-style: normal;
      @include inc.sizingRem(font-size, wide, 20px, spl, 14px);
      display: block;
      margin: 0 0 10px;
      @include inc.mq(tab) {
        margin: 0 0 20px;
      }
    }
  }
  .p-title-02 {
    @include inc.sizingRem(font-size, wide, 20px, spl, 14px);
    margin: 0 0 10px;
    @include inc.mq(tab) {
      margin: 0 0 20px;
    }
  }
}