@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-lunch
-----------------------------------------------------*/
#Lunch #main {
    padding-top: 180px;
}

.-positionEnd0 {
    @include inc.mq(tab) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 3rem;
    }
}
.-positionEnd {
    @include inc.mq(tab) {
        //height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        //padding-bottom: 3rem;
    }
}
.-positionEnd2 {
    @include inc.mq(tab) {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
.-main-bottom {
    padding-bottom: 0;
    @include inc.mq(tab) {
        padding-bottom: 15vw;
    }
}

.-smallMenu {
    margin: 48px 0;
    @include inc.mq(tab) {
        @include inc.sizing(margin-top, vr, 160px, tab, 124px);
        @include inc.sizing(margin-bottom, vr, 80px, tab, 64px);
    }
    h2 {
        @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
        @include inc.sizing(margin-bottom, vr, 32px, tab, 30px);
    }
    dl {
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            &:before {
                content: "";
                display: block;
                height: 2px;
                background: linear-gradient(to right, #000, #000 2px, transparent 1px, transparent 1px) repeat-x left bottom / 6px 2px;
                width: 100%;
                position: absolute;
                top: 1.15rem;
                z-index: -1;
            }
            &.no_dot {
                &:before {
                    display: none;
                }
            }
            dt {
                padding-right: 1rem;
                @include inc.sizing(padding-left, vr, 35px, spl, 24px);
                background: url(../img/common/arw_bwn.svg) no-repeat 0 .8rem inc.$color-wht;
                @include inc.sizing(background-size, vr, 16px, spl, 10px);
                @include inc.sizingRem(font-size, wide, 24px, spl, 18px);
                span {
                    display: block;
                    @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
                }
            }
            dd {
                padding: .5rem 0 0 1rem;
                @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
                background: inc.$color-wht;
            }
            & + div {
                @include inc.sizing(margin-top, vr, 30px, spl, 28px);
            }
        }
    }
}


.-timeschedule {
    background: inc.$color-beg;
    .-layout {
        width: 100%;
        // grid-template-columns: 1fr;
        // grid-template-rows: repeat(4, 1fr);
        // grid-column-gap: 0px;
        // grid-row-gap: 0px;
        @include inc.mq(tab) {
            display: grid;
            grid-template-columns: repeat(28.2vw, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
    }
    .-schedule {
        //grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 32px;
        @include inc.mq(tab) {
            grid-area: 1 / 1 / 2 / 2;
            margin-bottom: 80px;
        }
    }
    .-calendar {
        background: #fff;
        //grid-area: 2 / 1 / 3 / 2;
        margin-bottom: 32px;
        @include inc.mq(tab) {
            grid-area: 1 / 2 / 4 / 3;
            margin-bottom: 0;
            display: flex;
            justify-content: flex-end;
        }
        .-inner {
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            width: 100%;
            @include inc.mq(tab) {
                width: 53.85vw;
            }
            @include inc.mq(desk) {
                width: 58.97vw;
            }
        }
    }
    .-reserve {
        //grid-area: 3 / 1 / 4 / 2;
        margin-bottom: 32px;
        @include inc.mq(tab) {
            grid-area: 2 / 1 / 3 / 2;
            margin-bottom: 80px;
        }
        p.-dot {
            position: relative;
            padding-left: 1.5rem;
            &:before {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #7E7257;
                position: absolute;
                left: 0.2em;
                top: 0.55rem;
            }
        }
    }
    .-comment {
        //grid-area: 4 / 1 / 5 / 2;
        @include inc.mq(tab) {
            grid-area: 3 / 1 / 4 / 2;
        }
    }
    h2 {
        @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
        @include inc.sizing(margin-bottom, vr, 24px, tab, 16px);
    }
    h3 {
        @include inc.sizingRem(font-size, wide, 40px, spl, 24px);
        @include inc.sizing(margin-bottom, vr, 8px, tab, 4px);
    }
    h4 {
        @include inc.sizingRem(font-size, wide, 24px, spl, 14px);
        span {
            @include inc.sizingRem(font-size, wide, 18px, spl, 11px);
        }
    }
    &.-dinner {
        background: inc.$color-blu2;
    }
}









.-menu {
    dl {
        .-flx + .-flx {
            margin-top: 3rem!important;
            @include inc.mq(vr) {
                margin-top: 3rem!important;
            }
        }
        dt {
            color: inc.$color-bwn;
            @include inc.sizingRem(font-size, wide, 20px, spl, 14px);
            font-family: p22-mackinac-pro, serif;
            font-weight: 700;
            font-style: normal;
            width: 100%!important;
            &.-jpn {
                font-family: dnp-shuei-gothic-gin-std, sans-serif;
                font-weight: 500;
                font-style: normal;
            }
            @include inc.mq(vr) {
                width: 28%!important;
            }
            span {
                display: block;
                @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
            }
        }
        dt + dd {
            margin-top: 10px!important;
            @include inc.mq(vr) {
                margin-top: 0!important;
            }
        }
        dd {
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none; /*点を非表示*/
                    position: relative; /*基準位置*/
                    padding-left: 2em;
                    line-height: 2;
                    margin: 0;
                    & + li {
                        margin-top: .6rem;
                    }
                    @include inc.mq(vr) {
                        padding-left: 1.8em;
                        & + li {
                            margin-top: .8rem;
                        }
                    }
                }
                li:before {
                    content: "";
                    display: block;
                    width: 15px; /*点の幅*/
                    height: 15px; /*点の高さ*/
                    border-radius: 50%; /*丸くする*/
                    background: inc.$color-bwn; /*点の色*/
                    position: absolute; /*絶対配置*/
                    left: .2em; /*点の位置*/
                    top: .55rem;
                    @include inc.mq(vr) {
                        width: 20px; /*点の幅*/
                        height: 20px; /*点の高さ*/
                        left: .2em; /*点の位置*/
                        top: .4rem;
                    }
                }
            }
            * + ul {
                margin-top: 0.5rem;
                @include inc.mq(vr) {
                    margin-top: 0.5rem;
                }
            }
        }
    }
    .menu-info {
        margin-top: 20px;
        @include inc.mq(tab) {
            margin-top: 80px;
        }
        & .menu-memo {
            border: 1px solid inc.$color-brd02;
            padding: 15px;
            @include inc.mq(tab) {
                padding: 30px;
            }
        }
    }
    &.-dinner {
        dl {
            dt {
                color: inc.$color-blu;
            }
            dd {
                ul {
                    li:before {
                        background: inc.$color-blu; /*点の色*/
                    }
                }
            }
        }
    }
}

#Party .-menu {
    dl {
        dt {
            color: inc.$color-gry;
        }
        dd {
            li:before {
                background: inc.$color-gry;
            }
        }
    }
}
// .p-header {
//     background: inc.$color-bg01;
//     width: auto;
//     right: 0;
//     left: 0;
//     top: 0px;
//     height: 55px;
//     justify-content: center;
//     z-index: 99;
//     .p-header__list {
//         height: 55px;
//         gap: 0 16px;
//         li {
//             height: 55px;
//         }
//     }
//     @include inc.mq(tab) {
//         left: auto;
//         background: none;
//         width: auto;
//         //right: 2.564vw;
//         right: 3.25rem;
//         //top: 10px;
//         top: 26px;
//         justify-content: end;
//         .p-header__list {
//             height: 55px;
//             //gap: 0 40px;
//             gap: 0 1.75rem;
//             li {
//                 height: 55px;
//             }
//         }
//     }
// }


.tabPeriod {
    display: flex;
    flex-wrap: wrap;
    gap: 0 6px;
    li {
        width: calc((100% - 6px) / 2);
        @include inc.mq(tab) {
            width: auto;
        }
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        a {
            text-align: center;
            display: block;
            background: inc.$color-beg;
            color: inc.$color-bwn2;
            @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
            padding:1rem 3rem;
            line-height: 1;
            cursor: pointer;
        }
        &.active a {
            background: inc.$color-bwn;
            color: inc.$color-wht;
        }
        // & + li {
        //     margin-left: 6px;
        // }
    }
}

#Party .tabPeriod {
    li {
        a {
            background: inc.$color-gry2;
            color: inc.$color-gry;
        }
        &.active a {
            background: inc.$color-gry;
            color: inc.$color-wht;
        }
    }
}

#Dinner .tabPeriod {
    li {
        a {
            background: inc.$color-blu3;
            color: inc.$color-blu4;
        }
        &.active a {
            background: inc.$color-blu;
            color: inc.$color-wht;
        }
    }
}


/*エリアの表示非表示と形状*/
.areaPeriod {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/
    background: #fff;
    padding:50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.areaPeriod.is-active {
    display: block!important;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.beverage-list {
    font-family: p22-mackinac-pro, serif;
    font-weight: 700;
    font-style: normal;
    border-top: 1px solid inc.$color-brd03;
    .-item {
        border-bottom: 1px solid inc.$color-brd03;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        @include inc.mq(tab) {
            grid-template-columns: 1fr 80px 120px;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
    }
    .-title {
        padding-left: 2em;
        line-height: 2;
        position: relative;
        grid-area: 1 / 1 / 2 / 3;
        @include inc.mq(tab) {
            grid-area: 1 / 1 / 2 / 2;
        }
        &:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: inc.$color-gry;
            position: absolute;
            left: 0;
            top: .55rem;
            @include inc.mq(vr) {
                width: 20px;
                height: 20px;
                left: 0;
                top: .4rem;
            }
        }
        span {
            font-family: dnp-shuei-gothic-gin-std, sans-serif;
            font-weight: 500;
            font-style: normal;
            display: block;
        }
    }
    .-price {
        grid-area: 2 / 1 / 3 / 2;
        padding: .6rem 0 0 2rem;
        @include inc.mq(tab) {
            grid-area: 1 / 3 / 2 / 4;
            text-align: right;
            padding: 0;
        }
        @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
    }
    .-era {
        grid-area: 2 / 2 / 3 / 3;
        padding: .6rem 0 0 0;
        @include inc.mq(tab) {
            grid-area: 1 / 2 / 2 / 3;
            padding: 0;
        }
        color: inc.$color-gry;
        @include inc.sizingRem(font-size, wide, 14px, spl, 12px);
        text-align: right;
    }
}



.-float {
    position: fixed;
    top: 50vh;
    transform: translate(0%, -50%);
    right: 1vw;
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    color: inc.$color-wht;
    width: 80px;
    height: 80px;
    font-size: 14px;
    background: url(../img/common/arw_wht.svg) no-repeat 50% 80% inc.$color-blu;
    background-size: 10px 8px;
    border-radius: 50%;
    div {
        font-family: p22-mackinac-pro, serif;
        font-weight: 700;
        font-style: normal;
        line-height: 1.4;
        text-align: center;
        margin-top: -.5rem;
        span {
            display: block;
            font-size: 10px;
            font-family: dnp-shuei-gothic-gin-std, sans-serif;
            font-weight: 500;
            font-style: normal;
        }
    }
    @include inc.mq(tab) {
        width: 150px;
        height: 150px;
        background-size: 16px 12px;
        div {
            font-size: 24px;
            span {
                font-size: 14px;
            }
        }
    }
    &.-dinner {
        background-color: inc.$color-bwn3;
    }
}