@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-pagenav
-----------------------------------------------------*/
.wp-pagenavi {
    font-family: p22-mackinac-pro, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-top: 48px;
    margin-top: 16px;
    @include inc.mq(tab) {
        padding-top: 0;
        @include inc.sizing(margin-top, wide, 145px, tab, 125px);
    }
    @include inc.mq(min) {
        gap: 1rem;
    }
    .current,
    .page {
        transition: .5s;
        text-decoration: none!important;
        border: none;
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 1;
        display:flex; flex-direction:column; justify-content:center; align-items:center;
        &.current {
            border-bottom: 1px solid inc.$color-blk;
        }
    }
    .previouspostslink,
    .nextpostslink {
        position: absolute;
        width: 180px;
        @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
        line-height: 1;
        &:before, &:after {
            content: "";
            display: block;
            width: 9px;
            height: 28px;
            background: url(../img/common/brackets_blk.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0%, -50%);
        }
        &:after {
            left: auto;
            right: 0;
            top: 50%;
            transform: translate(0%, -50%) rotate(180deg);
        }
    }
    .previouspostslink {
        left: 0;
        top: 0;
    }
    .nextpostslink {
        right: 0;
        top: 0;
    }
}

// .wp-pager {
//     @include inc.sizing(padding-top, wide, 32px, spl, 16px);
//     ul {
//         position: relative;
//         clear: both;
//         overflow: hidden;
//         height: 2rem;
//         li {
//             position: absolute;
//             top: 0;
//             list-style-type: none;
//             line-height: 1;
//             &.prev {
//                 left: 0;
//             }
//             &.center {
//                 left: 50%;
//                 transform: translate(-50%, 0%);
//             }
//             &.next {
//                 right: 0;
//             }
//             a {
//                 text-align: center;
//                 padding: 0 0 .5rem;
//                 line-height: 1;
//             }
//         }
//     }
// }