@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-tiser
-----------------------------------------------------*/
.p-header {
    background: inc.$color-bg01;
    width: auto;
    right: 0;
    left: 0;
    top: 0px;
    height: 55px;
    justify-content: center;
    z-index: 99;
    .p-header__list {
        height: 55px;
        gap: 0 16px;
        li {
            height: 55px;
        }
    }
    @include inc.mq(tab) {
        left: auto;
        background: none;
        width: auto;
        //right: 2.564vw;
        right: 3.25rem;
        //top: 10px;
        top: 26px;
        justify-content: end;
        .p-header__list {
            height: 55px;
            //gap: 0 40px;
            gap: 0 1.75rem;
            li {
                height: 55px;
            }
        }
    }
}

#f-view {
    height: 100vh;
    min-height: 760px;
    position: relative;
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    .f-view {
        figure {
            margin-top: -120px;
            @include inc.mq(spl) {
                @include inc.sizing(margin-top, vr, -40px, spl, -30px);
            }
            text-align: center;
            @include inc.sizing(width, vr, 340px, spl, 222px);
            img {
                width: 100%;
                height: auto;
            }
            figcaption {
                font-family: p22-mackinac-pro, serif;
                font-weight: 700;
                font-style: normal;
                @include inc.sizingRem(font-size, wide, 27px, spl, 16px);
                @include inc.sizing(margin-top, vr, 48px, spl, 24px);
                line-height: 1;
            }
        }
        .sns {
            display: none;
            @include inc.mq(tab) {
                margin-top: 80px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 0 20px;
            }
        }
    }
    .scrolldown1{
        /*描画位置※位置は適宜調整してください*/
        position:absolute;
        left:50%;
        bottom: 96px;
        @include inc.mq(spl) {
            bottom: -15px;
        }
        /*全体の高さ*/
        height:calc(12vh + 20px);
    }

    /*Scrollテキストの描写*/
    .scrolldown1 span{
        /*描画位置*/
        position: absolute;
        left:-15px;
        top: -25px;
        /*テキストの形状*/
        color: inc.$color-blk;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        font-family: p22-mackinac-pro, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 13px;
    }

    /* 線の描写 */
    .scrolldown1::after{
        content: "";
        /*描画位置*/
        position: absolute;
        top: 0;
        /*線の形状*/
        width: 1px;
        height: 20vh;
        background: inc.$color-blk;
        /*線の動き1.4秒かけて動く。永遠にループ*/
        animation: pathmove 1.4s ease-in-out infinite;
        opacity:0;
    }

    /*高さ・位置・透過が変化して線が上から下に動く*/
    @keyframes pathmove{
        0%{
            height:0;
            top:0;
            opacity: 0;
        }
        30%{
            height:6vh;
            opacity: 1;
        }
        100%{
            height:0;
            top:12vh;
            opacity: 0;
        }
    }
}

#lead {
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    @include inc.sizing(padding-top, vr, 280px, spl, 120px);
    @include inc.sizing(padding-bottom, vr, 280px, spl, 120px);
    .-lead {
        margin: 0 auto;
        @include inc.mq(tab) {
            width: 660px;
        }
    }
    h2 {
        @include inc.sizingRem(font-size, wide, 50px, spl, 24px);
        letter-spacing: .3rem;
        @include inc.mq(tab) {
            text-align: center
        }
    }
    h3 {
        @include inc.sizingRem(font-size, wide, 20px, spl, 17px);
        letter-spacing: .1rem;
        margin-top: 30px;
        @include inc.sizing(margin-bottom, vr, 60px, spl, 40px);
        @include inc.mq(tab) {
            text-align: center
        }
    }
}

.p-tiser {
    &__menu {
        dl {
            .-flx + .-flx {
                margin-top: 3rem!important;
                @include inc.mq(vr) {
                    margin-top: 3rem!important;
                }
            }
            dt {
                color: inc.$color-bwn;
                @include inc.sizingRem(font-size, wide, 20px, spl, 14px);
                font-family: p22-mackinac-pro, serif;
                font-weight: 700;
                font-style: normal;
                width: 100%!important;
                @include inc.mq(vr) {
                    width: 28%!important;
                }
            }
            dt + dd {
                margin-top: 10px!important;
                @include inc.mq(vr) {
                    margin-top: 0!important;
                }
            }
            dd {
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style-type: none; /*点を非表示*/
                        position: relative; /*基準位置*/
                        padding-left: 2em;
                        line-height: 2;
                        margin: 0;
                        & + li {
                            margin-top: .6rem;
                        }
                        @include inc.mq(vr) {
                            padding-left: 1.8em;
                            & + li {
                                margin-top: .8rem;
                            }
                        }
                    }
                    li:before {
                        content: "";
                        display: block;
                        width: 15px; /*点の幅*/
                        height: 15px; /*点の高さ*/
                        border-radius: 50%; /*丸くする*/
                        background: inc.$color-bwn; /*点の色*/
                        position: absolute; /*絶対配置*/
                        left: .2em; /*点の位置*/
                        top: .55rem;
                        @include inc.mq(vr) {
                            width: 20px; /*点の幅*/
                            height: 20px; /*点の高さ*/
                            left: .2em; /*点の位置*/
                            top: .4rem;
                        }
                    }
                }
                * + ul {
                    margin-top: 0.5rem;
                    @include inc.mq(vr) {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
        .menu-info {
            border: 1px solid inc.$color-brd02;
            margin-top: 20px;
            padding: 15px;
            @include inc.mq(tab) {
                margin-top: 80px;
                padding: 30px;
            }
        }
        &.-dinner {
            dl {
                dt {
                    color: inc.$color-blu;
                }
                dd {
                    ul {
                        li:before {
                            background: inc.$color-blu; /*点の色*/
                        }
                    }
                }
            }
        }
    }

    &__reserve {
        .reserve-box {
            border: 1px solid inc.$color-blk;
            text-align: center;
            @include inc.sizing(padding-bottom, vr, 32px, spl, 30px);
            //padding: 0 0 20px;
            h2 {
                border-bottom: 1px solid inc.$color-blk;
                line-height: 1;
                @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
                padding: 20px;
            }
            h3 {
                //margin: 24px 0 18px;
                margin: 32px 0 30px;
                @include inc.mq(tab) {
                    margin: 32px 0 30px;
                }
                line-height: 1;
                span {
                    position: relative;
                    color: inc.$color-org;
                    display: block;
                    width: 86%;
                    margin: 0 auto;
                    @include inc.sizingRem(font-size, wide, 20px, spl, 18px);
                    &:before, &:after {
                        content: "";
                        display: block;
                        width: 9px;
                        height: 28px;
                        background: url(../img/common/brackets_org.svg) no-repeat 50% 50%;
                        background-size: contain;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }
                    &:after {
                        left: auto;
                        right: 0;
                        top: 50%;
                        transform: translate(0%, -50%) rotate(180deg);
                    }
                }
            }
            h4 {
                @include inc.sizingRem(font-size, wide, 24px, spl, 18px);
                @include inc.sizing(margin-bottom, vr, 6px, spl, 2px);
            }
            h5 {
                @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
            }
        }
        .-information {
            margin: 30px 0;
            background: inc.$color-wht;
            border: 1px solid inc.$color-blk;
            padding: 20px;
        }
        .lunch, .dinner, .party {
            span {
                position: relative;
                margin-left: 56px;
                @include inc.sizingRem(font-size, wide, 14px, spl, 12px);
                &:before {
                    content: "";
                    display: block;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: -28px;
                    top: 50%;
                }
            }
        }
        .lunch {
            span {
                &:before {
                    background: url(../img/tiser/lunch.svg) no-repeat 50% 50%;
                    background-size: contain;
                }
            }
        }
        .dinner {
            span {
                &:before {
                    background: url(../img/tiser/dinner.svg) no-repeat 50% 50%;
                    background-size: contain;
                }
            }
        }
        .party {
            span {
                &:before {
                    background: url(../img/tiser/party.svg) no-repeat 50% 50%;
                    background-size: contain;
                }
            }
        }
    }

    &__information {
        .qr-img {
            display: flex;
            flex-wrap: wrap;
            gap: 0 20px;
            img  {
                width: auto;
                height: 33px;
            }
        }
        .card-img {
            display: flex;
            flex-wrap: wrap;
            gap: 0 14px;
            img  {
                width: auto;
                height: 50px;
                margin: 0 auto;
            }
            figcaption {
                font-size: 10px;
                text-align: center;
                line-height: 1.4;
            }
        }
    }

    &__map {
        .-map {
            #google_map{
                //margin: 0;
                position: absolute!important;
                top: 50px;
                left: 50%;
                margin-left: -50vw;
                //height: 65vw;
                @include inc.sizing(height, vr, 720px, spl, 400px);
                width: 100vw;
                //margin: 50px 0 50px -3.72vw;
                @include inc.mq(vr) {
                    position: relative;
                    top: auto!important;
                    left: auto!important;
                    margin: 50px 0;
                    width: 100%;
                }
            }
            .div2 {
                position: relative;
                @include inc.sizing(padding-top, vr, 820px, spl, 500px);
            }
            @include inc.mq(vr) {
                display: grid;
                // grid-template-columns: 23.08vw 58.97vw;
                grid-template-rows: 882px 563px;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                width: 100%;
                margin-bottom: 50px;
                .div1 {
                    grid-area: 1 / 1 / 2 / 2;
                    display:flex;
                    justify-content:flex-end;
                    flex-flow: column;
                    padding-bottom: 70px;
                    .l-main__left---lead {
                        padding-right: 10vw;
                    }
                }
                .div2 {
                    grid-area: 1 / 2 / 3 / 3;
                    width: 58.97vw;
                    padding: 0;
                }
                .div3 {
                    grid-area: 2 / 1 / 3 / 2;
                    display:flex;
                    justify-content:flex-end;
                    flex-flow: column;
                }
                #google_map{
                    height: 1445px;
                    width: 100%;
                    margin: 0 0 50px;
                }
            }
            .map_add {
                padding-right: 0;
                @include inc.mq(tab) {
                    padding-right: 10vw;
                }
                //margin-top: 140px;
                dl {
                    margin-bottom: 50px;
                    div {
                        & + div {
                            @include inc.sizing(margin-top, vr, 50px, spl, 32px);
                        }
                        dt {
                            @include inc.sizingRem(font-size, wide, 24px, spl, 18px);
                            @include inc.sizing(padding-left, vr, 32px, spl, 24px);
                            position: relative;
                            &:before {
                                content: "";
                                display: block;
                                @include inc.sizing(width, vr, 19px, spl, 12px);
                                @include inc.sizing(height, vr, 25px, spl, 16px);
                                background: url(../img/tiser/pin02.svg) no-repeat 50% 50%;
                                background-size: contain;
                                position: absolute;
                                left: 0;
                                top: .4rem;
                            }
                            &.-first {
                                &:before {
                                    background: url(../img/tiser/pin01.svg) no-repeat 50% 50%;
                                    background-size: contain;
                                }
                            }
                        }
                        dd {
                            margin-top: 6px;
                            @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
                            @include inc.sizing(padding-left, vr, 32px, spl, 24px);
                        }
                    }
                }
                p {
                    @include inc.sizing(padding-left, vr, 32px, spl, 24px);
                    br {
                        display: none;
                        @include inc.mq(tab) {
                            display: block;
                        }
                    }
                }
            }
        }
        .l-main__left2 {
            display: none!important;
        }
        .l-main__right2 {
            border-top: 1px solid inc.$color-brd01;
            width: 100%!important;
            margin-top: 40px;
            padding-top: 40px;
            @include inc.mq(vr) {
                border-top: none;
                margin-top: 80px;
                padding-top: 0;
            }
            dl {
                dt {
                    width: 100%!important;
                    @include inc.mq(vr) {
                        width: 28%!important;
                    }
                }
                dt + dd {
                    margin-top: 10px!important;
                    @include inc.mq(vr) {
                        margin-top: 0!important;
                    }
                }
                div + div {
                    margin-top: 50px!important;
                    @include inc.mq(vr) {
                        margin-top: 0!important;
                    }
                }
            }
        }
        @include inc.mq(vr) {
            .l-main__left2 {
                display: block!important;
            }
            .l-main__right2 {
                margin-top: 0;
                width: 58.97vw!important;
            }
        }
    }

    &__access {
        .access-grid01 {
            display: grid;
            grid-template-columns: 48.5% 3% 48.5%;
            grid-template-rows: 40px 120px 40px 120px 40px;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            div { width: 100%;}
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 1 / 2 / 2 / 3; }
            .div3 { grid-area: 1 / 3 / 2 / 4; }
            .div4 { grid-area: 2 / 1 / 3 / 2; }
            .div5 { grid-area: 2 / 2 / 3 / 3; }
            .div6 { grid-area: 2 / 3 / 3 / 4; }
            .div7 { grid-area: 3 / 1 / 4 / 4; }
            .div8 { grid-area: 4 / 1 / 5 / 4; }
            .div9 { grid-area: 5 / 1 / 6 / 4; }
            @include inc.mq(tab) {
                display: grid;
                grid-template-columns: 7% 50% 7% 29% 7%;
                grid-template-rows: 140px 30px 140px;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                div { width: 100%;}
                .div1 { grid-area: 1 / 1 / 2 / 2; }
                .div2 { grid-area: 2 / 1 / 3 / 2; }
                .div3 { grid-area: 3 / 1 / 4 / 2; }
                .div4 { grid-area: 1 / 2 / 2 / 3; }
                .div5 { grid-area: 2 / 2 / 3 / 3; }
                .div6 { grid-area: 3 / 2 / 4 / 3; }
                .div7 { grid-area: 1 / 3 / 4 / 4; }
                .div8 { grid-area: 1 / 4 / 4 / 5; }
                .div9 { grid-area: 1 / 5 / 4 / 6; }
            }
        }
        .access-grid02 {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 40px 120px 40px 120px 40px;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            div { width: 100%;}
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 2 / 1 / 3 / 2; }
            .div3 { grid-area: 3 / 1 / 4 / 2; }
            .div4 { grid-area: 4 / 1 / 5 / 2; }
            .div5 { grid-area: 5 / 1 / 6 / 2; }
            @include inc.mq(tab) {
                display: grid;
                grid-template-columns: 7% 50% 7% 29% 7%;
                grid-template-rows: 310px;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                div { width: 100%;}
                .div1 { grid-area: 1 / 1 / 2 / 2; }
                .div2 { grid-area: 1 / 2 / 2 / 3; }
                .div3 { grid-area: 1 / 3 / 2 / 4; }
                .div4 { grid-area: 1 / 4 / 2 / 5; }
                .div5 { grid-area: 1 / 5 / 2 / 6; }
            }
        }
        .access-grid03 {
            display: grid;
            grid-template-columns: 31% 3.5% 31% 3.5% 31%;
            grid-template-rows: 40px 120px 90px 120px 40px;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            div { width: 100%;}
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 1 / 2 / 2 / 3; }
            .div3 { grid-area: 1 / 3 / 2 / 4; }
            .div4 { grid-area: 1 / 4 / 2 / 5; }
            .div5 { grid-area: 1 / 5 / 2 / 6; }
            .div6 { grid-area: 2 / 1 / 3 / 2; }
            .div7 { grid-area: 2 / 2 / 3 / 3; }
            .div8 { grid-area: 2 / 3 / 3 / 4; }
            .div9 { grid-area: 2 / 4 / 3 / 5; }
            .div10 { grid-area: 2 / 5 / 3 / 6; }
            .div11 { grid-area: 3 / 1 / 4 / 6; }
            .div12 { grid-area: 4 / 1 / 5 / 6; }
            .div13 { grid-area: 5 / 1 / 6 / 6; }
            @include inc.mq(tab) {
                display: grid;
                grid-template-columns: 7% 40% 17% 29% 7%;
                grid-template-rows: 140px 30px 140px 30px 140px;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                div { width: 100%;}
                .div1 { grid-area: 1 / 1 / 2 / 2; }
                .div2 { grid-area: 2 / 1 / 3 / 2; }
                .div3 { grid-area: 3 / 1 / 4 / 2; }
                .div4 { grid-area: 4 / 1 / 5 / 2; }
                .div5 { grid-area: 5 / 1 / 6 / 2; }
                .div6 { grid-area: 1 / 2 / 2 / 3; }
                .div7 { grid-area: 2 / 2 / 3 / 3; }
                .div8 { grid-area: 3 / 2 / 4 / 3; }
                .div9 { grid-area: 4 / 2 / 5 / 3; }
                .div10 { grid-area: 5 / 2 / 6 / 3; }
                .div11 { grid-area: 1 / 3 / 6 / 4; }
                .div12 { grid-area: 1 / 4 / 6 / 5; }
                .div13 { grid-area: 1 / 5 / 6 / 6; }
            }
        }
        .underLine {
            text-align: center;
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            position: relative;
            span {
                padding: .6rem;
                position: relative;
                z-index: 2;
                background: inc.$color-wht;
                @include inc.mq(tab) {
                    padding: 0 0 3.5rem;
                    background: none;
                }
            }
            &:after {
                content: "";
                display: block;
                background: inc.$color-blk;
                position: absolute;
                width: 1px;
                height: 100%;
                left: 50%;
                top: 0;
                @include inc.mq(tab) {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    top: 50%;
                }
            }
        }
        .tate {
            position: relative;
            border: 1px solid inc.$color-blk;
            margin-left: auto;
            margin-right: auto;
            display:flex; flex-direction:column; justify-content:center; align-items:center;
            @include inc.mq(tab) {
                writing-mode: vertical-rl;
            }
            div {
                writing-mode: horizontal-tb;
                width: 100%;
                text-align: center;
                font-size: 12px;
                margin-top: 6px;
                margin-left: -28px;
                @include inc.mq(tab) {
                    @include inc.sizingRem(font-size, wide, 14px, tab, 13px);
                    width: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin-top: 60px;
                    @include inc.sizing(margin-left, vr, -10px, tab, -2px);
                    a span {
                        margin-left: 22px;
                    }
                    a span:before {
                        width: 12px;
                        height: 9px;
                        left: -18px;
                        margin-top: 1px;
                    }
                }
            }
        }
        .title_train, .title_car {
            position: relative;
            padding: 0 0 0 48px;
            em {
                @include inc.sizingRem(font-size, wide, 24px, spl, 18px);
                @include inc.mq(tab) {
                    padding-right: 3rem;
                }
            }
            //@include inc.sizing(margin-bottom, vr, 40px, spl, 20px);
            margin-bottom: 2rem;
            span {
                display: block;
                line-height: 2;
                margin-top: 10px;
                @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
                @include inc.mq(vr) {
                    margin-top: 0;
                    display: block;
                    //padding-left: 3rem;
                }
            }
            &:before {
                content: "";
                width: 36px;
                height: 38px;
                display: block;
                background: url(../img/tiser/train.svg) no-repeat 50% 50%;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .title_car {
            &:before {
                background: url(../img/tiser/car.svg) no-repeat 50% 50%;
            }
        }
    }
}



#privacypolicy {
    padding-top: 320px;
    @include inc.sizing(padding-top, tab, 360px, spl, 320px);
    @include inc.mq(tab) {
        @include inc.sizing(padding-top, vr, 480px, tab, 360px);
    }
}


.l-logo {
    position: absolute;
    width: 40vw;
    top: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    img {
        width: 100%;
        height: auto;
    }
    @include inc.mq(spl) {
        width: 30vw;
        top: 110px;
    }
    @include inc.mq(tab) {
        width: 12.82vw;
        left: 2.564vw;
        top: 50px;
        transform: translate(0, 0);
    }
}


.menu-flex {
    & + .menu-flex {
        margin-top: 60px;
        @include inc.mq(tab) {
            margin-top: 120px;
        }
    }
}

.empty {
    margin-top: 0!important;
}



.-dinner {
    .p-period {
        color: inc.$color-wht;
        line-height: 1;
        background: inc.$color-blu;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding: 1rem 3rem;
        @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
        letter-spacing: .1rem;
    }
}


.recruit_btn {
    display: block;
    background: inc.$color-blk;
    position: fixed;
    right: 0;
    bottom: 0;
    // width: 12vw;
    // height: 5vw;
    width: 100%;
    height: 48px;
    @include inc.mq(spl) {
        @include inc.sizing(width, vr, 200px, spl, 180px);
        @include inc.sizing(height, vr, 80px, spl, 64px);
    }
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    transition: all 0.3s ease-out;
    &:hover {
        background: #1D2026;
    }
    span {
        display: block;
        color: inc.$color-wht;
        position: relative;
        margin-left: 28px;
        white-space: nowrap;
        line-height: 1;
        @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
        &:before {
            content: "";
            display: block;
            width: 16px;
            height: 12px;
            background: url(../img/common/arw_wht.svg) no-repeat 50% 50%;
            background-size: contain;
            position: absolute;
            left: -28px;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
        }
    }
}


.menu_ph {
    width: 100%;
    max-width: 100vw;
    @include inc.mq(spl) {
        max-width: 80vw;
    }
    @include inc.mq(tab) {
        max-width: 80vw;
    }
    @include inc.mq(lap) {
        max-width: 70vw;
    }
    gap: 0 3vw;
    margin: 40px auto 0;
    @include inc.sizing(margin-top, tab, 48px, spl, 40px);
    @include inc.mq(tab) {
        @include inc.sizing(margin-top, vr, 80px, tab, 64px);
    }
    section {
        width: calc(50% - 1.5vw);

    }
    img {
        width: 100%;
        height: auto;
    }
}



.-small {
    display: block;
    @include inc.sizingRem(font-size, wide, 14px, spl, 12px);
    @include inc.sizing(margin-top, vr, 16px, tab, 12px);
}
.mailto {
    padding: 0 2rem;
    @include inc.sizing(padding-left, vr, 16px, tab, 8px);
    @include inc.sizing(padding-right, vr, 16px, tab, 8px);
    span {
        font-size: 12px;
        @include inc.sizingRem(font-size, tab, 14px, spl, 12px);
        @include inc.mq(tab) {
            @include inc.sizingRem(font-size, wide, 14px, tab, 12px);
        }
    }
    a {
        display: block;
        -webkit-text-size-adjust: 100%;
        font-size: 9px;
        span {
            font-size: 12px;
            @include inc.sizingRem(font-size, tab, 14px, spl, 12px);
            @include inc.mq(tab) {
                @include inc.sizingRem(font-size, wide, 14px, tab, 10px);
            }
        }
        //@include inc.sizing(margin-top, vr, 16px, tab, 12px);
    }
}
