@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-text-box
-----------------------------------------------------*/
p {
  margin: 0;
  padding: 0;
  line-height: 200%;
  //@include inc.sizing(margin-bottom, wide, 72px, tabl, 24px);
  line-height: 2.2;
  font-size: 14px;
  @include inc.mq(min) {
      @include inc.sizingRem(font-size, tabl, 12px, min, 10px);
  }
  @include inc.mq(tabl) {
      @include inc.sizingRem(font-size, wide, 16px, tabl, 12px);
  }
}

ul.list--dot {
  margin: 0;
  padding: 1rem 0 1rem 1.5rem;
  li {
    margin: 0;
    padding: 0;
    & + li {
      margin-top: .5rem
    }
  }
}

p + p {
  @include inc.sizing(margin-top, wide, 32px, spl, 24px);
}
.p-text-box {
  & + .p-text-box {
    @include inc.sizing(margin-top, wide, 96px, spl, 48px);
  }
}
