@charset 'UTF-8';

/* =====================================================
  1.0 - Foundation
===================================================== */
@use "inc/i-functions";
@use "inc/i-mixin";
@use "inc/i-setting";

/* =====================================================
  2.0 - Layout
===================================================== */
@use "layout/l-wrapper";
@use "layout/l-section";
@use "layout/l-main";
@use "layout/l-header";
@use "layout/l-footer";
@use "layout/l-nav";
@use "layout/l-body";
@use "layout/l-hero";
@use "layout/l-logo";
@use "layout/l-burger";

/* =====================================================
  3.0 - Object
===================================================== */
/*
  3.1 - Component
-----------------------------------------------------*/
@use "object/component/c-text";
@use "object/component/c-arrow";
@use "object/component/c-br";
@use "object/component/c-link";
@use "object/component/c-searchbox";
@use "object/component/c-icon";
@use "object/component/c-button";
@use "object/component/c-figure";

/*
  3.2 - Project
-----------------------------------------------------*/
@use "object/project/p-footer";
@use "object/project/p-header";
@use "object/project/p-text-box";
@use "object/project/p-table";
@use "object/project/p-list";
@use "object/project/p-nav";
@use "object/project/p-breadcrumb";
@use "object/project/p-link-box";
@use "object/project/p-home";
@use "object/project/p-form";
@use "object/project/p-pagenav";
@use "object/project/p-accordion";
//@use "object/project/p-tiser";

/*
  3.3 - Utility
-----------------------------------------------------*/
