@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-body
-----------------------------------------------------*/
.l-body {
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  @include inc.sizingRem(font-size, wide, 16px, tab, 16px);
  @include inc.sizingRem(font-size, tabl, 16px, sp, 12px);
  color: inc.$color-grn;
}

.l-body.sp.open {
  height: 100%;
  overflow: hidden;
}

html { scroll-behavior: smooth;}