@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-body
-----------------------------------------------------*/
.l-body {
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  @include inc.sizingRem(font-size, tab, 16px, spl, 14px);
  @include inc.mq(tab) {
    @include inc.sizingRem(font-size, wide, 16px, tab, 16px);
  }
}

.l-body.sp.open {
  height: 100%;
  overflow: hidden;
}

html { scroll-behavior: smooth;}