@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-hero
-----------------------------------------------------*/
.l-hero {
    width: 100vw;
    margin:0 0 5vw -7.5vw;
    @include inc.mq(tab) {
        width: auto;
        margin: 0;
    }
}
.l-hero2 {
    width: 100vw;
    margin:0 0 5vw -7.5vw;
    img {
        object-fit: cover;
        max-height: 540px;
        height: 100vw;
        width: 100vw;
    }
    @include inc.mq(tab) {
        width: auto;
        margin: 0;
        img {
            object-fit: unset;
            max-height: none;
            height: auto;
            width: auto;
        }
    }
}