@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-main
-----------------------------------------------------*/
.l-main {
    border-bottom: 1px solid inc.$color-brd02;
    padding: 0 7.5vw;
    @include inc.sizing(padding-bottom, tab, 100px, spl, 50px);
    @include inc.mq(tab) {
        padding: 0 2.564vw;
        @include inc.sizing(padding-bottom, wide, 160px, tab, 100px);
    }
    //@include inc.sizing(padding-bottom, wide, 160px, spl, 50px);
    & + .l-main {
        @include inc.sizing(padding-top, wide, 160px, spl, 50px);
    }
    &.-flx, .-flx {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .-baseline {
        align-items: baseline;

    }
    .-start {
        justify-content: flex-start;
        gap: 0 30px;
    }
    .-end {
        justify-content: end;
        gap: 0 7.69vw;
    }
    .-flex-end {
        align-items: flex-end;
    }
    &__left {
        @include inc.mq(tab) {
            width: 28.2vw;
        }
        @include inc.mq(desk) {
            width: 28.2vw;
        }
        .c-title {
            line-height: 1.6;
            span {
                font-family: dnp-shuei-gothic-gin-std, sans-serif;
                font-weight: 600;
                font-style: normal;
                @include inc.sizingRem(font-size, wide, 20px, spl, 16px);
                display: block;
            }
        }
        &---lead {
            margin: 0 0 30px;
            @include inc.mq(tab) {
                margin: 0 0 12px;
            }
        }
        &---thumb {
            @include inc.sizing(margin-top, wide, 120px, spl, 60px);
        }
    }
    &__right {
        @include inc.mq(tab) {
            width: 53.85vw;
        }
        @include inc.mq(desk) {
            width: 58.97vw;
        }
    }
    &__left2 {
        margin: 0 0 50px;
        width: 100%;
        @include inc.mq(tab) {
            margin: 0;
            width: 23.08vw;
        }
        @include inc.mq(desk) {
            width: 23.08vw;
        }
        .c-title {
            line-height: 1.4;
            // span {
            //     font-family: dnp-shuei-gothic-gin-std, sans-serif;
            //     font-weight: 600;
            //     font-style: normal;
            //     @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
            //     display: block;
            // }
        }
    }
    &__right2 {
        width: 100%;
        @include inc.mq(tab) {
            width: 53.85vw;
        }
        @include inc.mq(desk) {
            width: 58.97vw;
        }
    }
    &__left3, &__right3 {
        width: 100%;
        @include inc.mq(tab) {
            width: 38.41vw;
        }
    }
    &__right3 {
        margin-top: 60px;
        @include inc.mq(tab) {
            margin-top: 0px;
        }
    }
    &__left4 {
        width: 50%;
        padding-right: 2.564vw;
    }
    &__right4 {
        width: 50%;
        padding-left: 2.564vw;
    }
}

#beverage.l-main {
    position: relative;
    &:after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background: inc.$color-brd02;
        position: absolute;
        left: 50%;
        top: 0;
    }
}

.templateA {
    padding-top: 200px;
    .l-main__left {
        padding-top: 0;
        margin-bottom: 80px;
        @include inc.sizing(margin-bottom, wide, 120px, spl, 80px);
        @include inc.mq(tab) {
            height: calc( 100vh - 100px );
            position: relative;
            .-position {
                position: absolute;
                bottom: 0;
            }
        }
    }
    .l-main__right {
        @include inc.mq(tab) {
            padding-top: 344px;
        }
    }
}



.conts-areaA {
    @include inc.mq(desk) {
        padding: 80px 100px;
    }
    &.pickup-bg {
        background: inc.$color-bg01;
        padding: 5vw;
        @include inc.mq(tab) {
            padding: 30px 60px;
        }
        @include inc.mq(desk) {
            padding: 80px 100px;
        }
    }
    &.pickup-border {
        border: 1px solid inc.$color-brd01;
        padding: 5vw;
        @include inc.mq(tab) {
            padding: 30px 60px;
        }
        @include inc.mq(desk) {
            padding: 80px 100px;
        }
    }
}
.conts-areaB {
    @include inc.mq(tab) {
        margin: 0 0 0 10.27vw;
    }
    @include inc.mq(desk) {
        width: 43.59vw;
        margin: 0 0 0 5.13vw;
    }
    &.pickup-bg {
        background: inc.$color-bg01;
        padding: 5vw;
        @include inc.mq(tab) {
            padding: 30px 30px;
        }
        @include inc.mq(desk) {
            padding: 30px 50px;
        }
    }
    &.pickup-border {
        border: 1px solid inc.$color-brd01;
        padding: 5vw;
        @include inc.mq(tab) {
            padding: 30px 30px;
        }
        @include inc.mq(desk) {
            padding: 30px 50px;
        }
    }
}

.-narrow {
    @include inc.mq(desk) {
        //width: 56%;
        width: 33.33vw;
    }
}

.column01-center {
    margin: 0 auto;
    // max-width: 556px;
    @include inc.mq(tab) {
        max-width: 28.21vw;
    }
}

.column02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include inc.mq(tab) {
        padding-right: 5.13vw;
    }
    &.-reverse {
        @include inc.mq(tab) {
            flex-direction:row-reverse;
            padding-left: 5.13vw;
            padding-right: 0;
        }
    }
    .column02-ph {
        margin-bottom: 7.5vw;
        @include inc.mq(tab) {
            margin-bottom: 0;
            width: 48.72vw;
        }
    }
    .column02-txt {
        @include inc.mq(tab) {
            width: 28.21vw;
        }
    }
}

