@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-header
-----------------------------------------------------*/
.p-header {
  padding: 5px 3.25vw 0;
  .-pc {
    display: none;
  }
  @include inc.mq(tab) {
    padding: 0;
    @include inc.sizing(width, vr, 560px, tab, 500px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    @include inc.sizing(right, vr, 150px, lap, 90px);
    height: 70px;
    .-pc {
      display: flex;
    }
  }
}