@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-news
-----------------------------------------------------*/
#News {
    .l-main {
        @include inc.sizing(padding-bottom, tab, 100px, spl, 28px);
        .-indiv {
            display: none;
        }
        @include inc.mq(tab) {
            .-indiv {
                display: flex;
            }
        }
        & + .l-main.-newsList {
            .-indiv {
                display: flex;
            }
            //margin-top: 28px;
            padding-top: 38px;
            //border-top: 1px solid inc.$color-brd02;
            @include inc.mq(tab) {
                margin: 0;
                //padding-top: 72px;
                @include inc.sizing(padding-bottom, wide, 72px, tab, 38px);
                border-top: none;
            }
        }
    }
    .-indiv {
        display: flex;
        flex-direction:column;
        .-fig {
            order: 2;
            padding-right: 40px;
            background: url(../img/common/arw.svg) no-repeat 100% 50%;
            background-size: 16px 12px;
            @include inc.mq(tab) {
                order: 1;
                padding-right: 0;
            }
            @include inc.sizing(margin-bottom, wide, 32px, tab, 28px);
        }
        .-date {
            order: 1;
            margin-bottom: 24px;
            @include inc.mq(tab) {
                order: 2;
                margin-bottom: 0;
            }
            line-height: 1;
            @include inc.sizingRem(font-size, wide, 15px, spl, 12px);
        }
        .-title {
            order: 3;
            background: none;
            padding-right: 0;
            @include inc.mq(tab) {
                margin-top: 6px;
                background: url(../img/common/arw.svg) no-repeat 100% .5rem;
                background-size: 18px 13px;
                padding-right: 40px;
            }
            line-height: 1.6;
            @include inc.sizingRem(font-size, wide, 30px, spl, 20px);
        }
        .-remarks {
            order: 4;
            margin-top: 2px;
            @include inc.mq(tab) {
                margin-top: 4px;
            }
            line-height: 1.6;
            @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
        }
    }
    .newsList {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        @include inc.mq(tab) {
            gap: 100px 5%;
        }
        .-indiv {
            width: 100%;
            @include inc.mq(tab) {
                width: 30%;
            }
            .-fig {
                margin-bottom: 16px;
                @include inc.mq(tab) {
                    margin-bottom: 28px;
                }
            }
            .-date {
                @include inc.sizingRem(font-size, wide, 14px, spl, 12px);
            }
            .-title {
                @include inc.sizingRem(font-size, wide, 30px, spl, 20px);
            }
            .-remarks {
                @include inc.sizingRem(font-size, wide, 16px, spl, 12px);
            }
            & + .-indiv {
                margin-top: 28px;
                padding-top: 38px;
                border-top: 1px solid inc.$color-brd02;
                @include inc.mq(tab) {
                    margin: 0;
                    padding: 0;
                    border-top: none;
                }
            }
        }

    }
}