@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-text-box
-----------------------------------------------------*/
p {
  margin: 0;
  padding: 0;
  line-height: 200%;
  line-height: 2;
  font-size: 14px;
  @include inc.mq(min) {
      @include inc.sizingRem(font-size, tabl, 15px, spl, 14px);
  }
  @include inc.mq(tabl) {
      @include inc.sizingRem(font-size, wide, 16px, tabl, 15px);
  }
}

// ul.list--dot {
//   margin: 0;
//   padding: 1rem 0 1rem 1.5rem;
//   li {
//     margin: 0;
//     padding: 0;
//     & + li {
//       margin-top: .5rem
//     }
//   }
// }

p + p {
  @include inc.sizing(margin-top, wide, 32px, spl, 16px);
}

* + .-near {
  //@include inc.sizing(margin-top, wide, 12px, spl, 8px);
  margin-top: clamp(8px, 0.38vw + 6px, 12px)!important;
  margin-bottom: clamp(8px, 0.38vw + 6px, 12px)!important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  a {
    text-align: center;
    width: 100%;
    @include inc.mq(spl) {
      width: 100%;
      max-width: 320px;
    }
  }
}



.p-text-box {
  .c-title {
    &.-LL {
      margin: 0 0 1rem;
    }
    &.-L {
      margin: 0 0 1rem;
    }
    &.-M {
      margin: 0 0 1rem;
    }
    &.-S {
      margin: 0 0 1rem;
    }
    &.-SS {
      margin: 0 0 1rem;
    }
  }
  & + .p-text-box {
    //@include inc.sizing(margin-top, wide, 80px, spl, 30px);
    margin-top: 3vw;
    @include inc.mq(tab) {
      margin-top: 1vw;
    }
  }
}

.p-conts {
  & + .p-conts {
    //@include inc.sizing(margin-top, wide, 40px, spl, 24px);
    margin-top: 3rem;
  }
}

.p-column-box {
  + .p-column-box {
    @include inc.sizing(margin-top, wide, 160px, spl, 50px);
  }
}
