@charset 'UTF-8';
@use "../../inc/" as inc;
/*
p-table
-----------------------------------------------------*/
.p-dl-table {
  div {
    padding: 1.5rem 0;
    display: block;
    @include inc.mq(min) {
      padding: 2rem 0;
      display: flex;
      flex-wrap: wrap;
    }
    dt {
      @include inc.sizingRem(font-size, wide, 14px, spl, 11px);
      width: 100%;
      margin: 0 0 .5rem;
      padding: 0;
      @include inc.mq(min) {
        width: 20%;
        margin: 0;
        padding: 0.25rem 0 0 0;
      }
    }
    dd {
      @include inc.sizingRem(font-size, wide, 16px, spl, 14px);
      width: 100%;
      line-height: 1.6;
      font-size: 14px;
      @include inc.mq(min) {
        @include inc.sizingRem(font-size, tabl, 12px, min, 10px);
        width: 80%;
      }
      @include inc.mq(tabl) {
        @include inc.sizingRem(font-size, wide, 16px, tabl, 12px);
      }
    }
  }
}
