@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-header
-----------------------------------------------------*/
.l-header {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
}
