@charset 'UTF-8';
@use "../inc/" as inc;
/*
l-logo
-----------------------------------------------------*/
.l-logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 92px;
    height: auto;
    img {
        width: 100%;
        height: auto;
    }
    @include inc.mq(tab) {
        top: 50px;
        left: 2.564vw;
        transform: unset;
        width: 12.82vw;
    }
}